body {
  text-align: center;
}

h1 {
  font-family: 'SFPixelateShadedBold';
  font-size: 70px;
  margin: 0.2em;
  color: #ff0000;
  background: red;
  background: -webkit-linear-gradient(left,#ff0000, #ffa500, #ffd900, #008000, #0000ff,#4b0082, #ee82ee);
  background: -o-linear-gradient(right, #ff0000, #ffa500, #ffd900, #008000, #0000ff,#4b0082, #ee82ee);
  background: -moz-linear-gradient(right, #ff0000, #ffa500, #ffd900, #008000, #0000ff,#4b0082, #ee82ee);
  background: linear-gradient(to right, #ff0000, #ffa500, #ffd900, #008000, #0000ff,#4b0082, #ee82ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px double rgb(29, 29, 29);
  cursor: pointer;
}
tbody{
 
}

tr {
  height: 20px;
  
}

td {
  width: 20px;
  border: 1px solid #a5a5a5;
}

input[type="number"] {
  width: 6em;
}

